<h1>Mis PROYECTOS</h1>

<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto de cliente</h4>
   <h3 class="po">App de salud</h3>
   <p>Organiza, descubre e inspírate....clon de Pinterest, diseñado para una experiencia fluida y eficiente este projecto fue creado con react native , expo , typescript , tailwindcss y firebase. </p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> Github</button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i> Descarga apk</button>
   <br>
   <i class='bx bxl-react bx-lg' style='color:#10e7f9'></i><i class='bx bxl-tailwind-css bx-lg' style='color:#14dce4'></i><i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="../assets/3.png" alt="">
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto personal</h4>
   <h3>Clon de Pinterest</h3>
   <p>Organiza, descubre e inspírate....clon de Pinterest, diseñado para una experiencia fluida y eficiente este projecto fue creado con react native , expo , typescript , tailwindcss y firebase. </p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> Github</button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i> Descarga apk</button>
   <br>
   <i class='bx bxl-react bx-lg' style='color:#10e7f9'></i><i class='bx bxl-tailwind-css bx-lg' style='color:#14dce4'></i><i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="programacion-johansitoweb1.png" alt="mi contenido como estas esta es una imagen">
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto de cliente</h4>
   <h3 class="co">Sotware de veterinaria</h3>
   <p>Desarrollé una aplicación móvil y de escritorio para una veterinaria utilizando Java Spring Boot, Angular, TypeScript, arquitectura de microservicios y Flutter.  Este proyecto, que implementó una solución integral para la gestión veterinaria, resultó en una mejora del 85% en la eficiencia operativa de la clínica.  Mi rol incluyó el diseño, desarrollo e implementación de todas las funcionalidades, desde la gestión de citas hasta el seguimiento de pacientes, contribuyendo significativamente a la optimización de los procesos y la satisfacción del cliente.</p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> Github</button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i> Descarga apk</button>
   <br>
   <i class='bx bxl-react bx-lg' style='color:#10e7f9'></i><i class='bx bxl-tailwind-css bx-lg' style='color:#14dce4'></i><i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="../assets/4.png" alt="">
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto de cliente</h4>
   <h3>App de Choferes</h3>
   <p>Organiza, descubre e inspírate....clon de Pinterest, diseñado para una experiencia fluida y eficiente este projecto fue creado con react native , expo , typescript , tailwindcss y firebase. </p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> Github</button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i> Descarga apk</button>
   <br>
   <i class='bx bxl-react bx-lg' style='color:#10e7f9'></i><i class='bx bxl-tailwind-css bx-lg' style='color:#14dce4'></i><i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="pr.png" alt="">
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto de cliente</h4>
   <h3>Sotware de ferreteria</h3>
   <p>Organiza, descubre e inspírate....clon de Pinterest, diseñado para una experiencia fluida y eficiente este projecto fue creado con react native , expo , typescript , tailwindcss y firebase. </p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> Github</button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i> Descarga apk</button>
   <br>
   <i class='bx bxl-react bx-lg' style='color:#10e7f9'></i><i class='bx bxl-tailwind-css bx-lg' style='color:#14dce4'></i><i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="https://storage.googleapis.com/strong-summer-176917.appspot.com/1/2016/06/punto-de-venta-en-mac-osx.png" alt="">
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto personal</h4>
   <h3 class="color-naraja">Food ordering dashboard</h3>
   <p>realizado con Nuxt , vue , Typescript , Nuxt UI , bootstrap , html , css  y firebase</p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> Github</button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i> Descarga apk</button>
   <br>
<i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i><i class='bx bxl-css3 bx-lg' style='color:#110bec' ></i><i class='bx bxl-html5 bx-lg' style='color:#ec350b'></i><i class='bx bxl-vuejs bx-lg' style='color:#0bec38'></i><i class='bx bxl-bootstrap bx-lg' style='color:#d10bec'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="image-removebg-preview.png" alt="">
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-5">
<div class="contenido-proyect">
    <h4>Projecto personal</h4>
   <h3>Clon de Facebook</h3>
   <p>Este es un clon de Facebook la funcionalidad es ponerme a practicar y tratar de desarrollaor algunas de las funcionalidades del mismo. </p>
   <button class="boton1"><i class='bx bxl-github' style='color:#d9dce2'></i> <a href="" target="_blank">Github</a></button> <button class="boton2"><i class='bx bxl-figma'></i> Figma</button> <button class="boton3"><i class='bx bxs-download'></i><a href="project-delta-brown.vercel.app/" target="_blank">Demo</a></button>
   <br>
   <i class='bx bxl-react bx-lg' style='color:#10e7f9'></i><i class='bx bxl-tailwind-css bx-lg' style='color:#14dce4'></i><i class='bx bxl-firebase bx-lg' style='color:#e88907'></i><i class='bx bxl-typescript bx-lg' style='color:#0751e8'></i>
</div>
    </div>
    <div class="col-sm-7">
        <img src="programacion-johansitoweb1.png" alt="">
    </div>
    <hr>
</div>

<style>
    .co{
        color: blue;
    }
    /* i{
        width: 50px;
        height: 50px;
    } */
     .po{
        color:rgb(0, 204, 255);
     }
     .color-naraja{
        color: #e88907;
     }
    .boton1{
        border: solid rgb(29, 1, 1) 1px;
        border-radius: 5px;
        background-color: rgba(73, 71, 71, 0.815);
        color: white;
        padding-left: 14px;
        padding-right: 14px;
    }
    .boton2{
        border: solid rgb(236, 112, 10) 1px;
        border-radius: 5px;
        background-color: rgba(219, 87, 11, 0.637);
        color: white;
        padding-left: 14px;
        padding-right: 14px;
    }
    .boton3{
        border: solid rgb(42, 6, 243) 1px;
        border-radius: 7px;
        background-color: rgba(9, 105, 194, 0.404);
        color: rgba(255, 255, 255, 0.884);
        padding-left: 14px;
        padding-right: 14px;
    }
    hr{   
        background-color: white;
        border-radius: 2px;
        height: 5px;
    }
    h4{
        color: rgba(211, 169, 30, 0.774);
    }
    h1{

        color: white;
        font-size: 90px;
       
    }
    img{
        width:840px ;
        height: 495px;
    }
    h3{
        color: red;
        font-size: 70px;
    }
    p{
        color: white;
    }
    .contenido-proyect{
        padding:9px ;
        margin: 9px;
    }
</style>