<div class="contenido">
    <h2>Sobre Mi</h2>
    <div class="row">
        <div class="col-sm-5">
            <img src="https://i.pinimg.com/originals/a4/76/b0/a476b0136bb9fc776eed816e82c2e808.gif" alt="">
        </div>
        <div class="col-sm-5">
            <p>Soy Johan Antonio, conocido como Johansitoweb. Soy Ingeniero de Aplicaciones para Android, especializado en tecnologías como Ionic, Flutter y Kotlin. Además, soy Desarrollador Web Frontend con experiencia en el desarrollo de videojuegos utilizando herramientas como Godot, GDScript y GDevelop.</p>
        </div>
    </div>
</div>

<style>
p{
    color:white;
}
</style>